<footer class="site-footer">
    <div class="grid-footer contenedor">
        <div>
            <h3>Categorias</h3>
            <nav class="footer-menu">
                <a href="#">Cocina</a>
                <a href="#">Oficina</a>
                <a href="#">Jardin</a>
                <a href="#">Cochera</a>
                <a href="#">Dormitorio</a>
            </nav>
        </div>
        <div>
            <h3>Sobre Nosotros</h3>
            <nav class="footer-menu">
                <a href="#">Nuestra Historia</a>
                <a href="#">Misión</a>
                <a href="#">Carreras</a>
                <a href="#">Polotica de privacidad</a>
                <a href="#">Términos del Servicio</a>
            </nav>
        </div>
        <div>
            <h3>Soporte</h3>
            <nav class="footer-menu">
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Ayuda en línea</a>
                <a href="#">Confianza y Seguridad</a>
            </nav>
        </div>
    </div>
    <p class="copyright">Todos los derechos reservados &copy;. Tienda Muebles</p>
</footer>