<main class="contenedor principal">
    <div class="galeria-grid">
        <div class="item">
            <img src="assets/img/galeria_01.jpg" alt="assets/img/galeria_01.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_02.jpg" alt="assets/img/galeria_02.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_03.jpg" alt="assets/img/galeria_03.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_04.jpg" alt="assets/img/galeria_04.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_05.jpg" alt="assets/img/galeria_05.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_06.jpg" alt="assets/img/galeria_06.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_07.jpg" alt="assets/img/galeria_07.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_08.jpg" alt="assets/img/galeria_08.jpg">
        </div>
        <div class="item">
            <img src="assets/img/galeria_09.jpg" alt="assets/img/galeria_09.jpg">
        </div>
    </div>
</main>