<main class="contenedor principal">
    <h2 class="text-center">Nuestro Blog</h2>
    <div class="blog-grid">
        <div class="entradas">
            <app-entradas [entradas]="entradas"></app-entradas>
        </div>
        <div class="otras-entradas">
            <h3 class="text-center">Otras entradas del blog</h3>
            <ul>
                <li>Guía de colores</li>
                <li>Nuevos modelos</li>
                <li>Diseño de interiores</li>
                <li>Diseño de exteriores</li>
            </ul>
        </div>
    </div>
</main>